@model IEnumerable<InternetAppProject.Models.DriveType>

@{
    ViewData["Title"] = "Business plan search ";
}

<section>
    <h1>Find a Business Plan!</h1>
    <aside>
        <h3>Here you can look for a business plan suited just for you!</h3>
    </aside>

    <div>
        Name: <input name="name" id="name" /> &nbsp;
        Min. Images: <input name="minCapacity" id="minCapacity" /> &nbsp;
        Max. Price: <input name="maxPrice" id="maxPrice" />
        <button class="btnSearch btn btn-primary">Search</button>
        <div class="spinner-grow text-success d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_change)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Capacity) Images
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) NIS
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Last_change)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script type="text/template" id="template">
    <tr>
        <td>
           ${name}
        </td>
        <td>
            ${capacity} Images
        </td>
        <td>
           ${price} NIS
        </td>
        <td>
           ${changed}
        </td>
    </tr>
</script>

@section Scripts{
    <script src="~/js/searchDriveType.js"></script>
}