<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetAppProject</title>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/drive.css" />
    @if (Context != null && Context.User != null && Context.User.Claims.FirstOrDefault(x => x.Type == "nightMode") != null)
    {
        if (Context.User.Claims.FirstOrDefault(x => x.Type == "nightMode").Value.Equals(true.ToString()))
        {
            <link rel="stylesheet" href="/css/night.css" />
        }
    }

</head>
<body class="site-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <img src="/Images/MainImage.png" class="img-fluid" alt="Responsive image" width="75" height="75" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">&nbsp; MoodleDrive</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{ bool IsLogin = false;
                            bool IsAdmin = false; }
                        @if (Context != null && Context.User != null && Context.User.Claims.FirstOrDefault(x => x.Type == "Type") != null)
                        {
                            if (Context.User.Claims.FirstOrDefault(x => x.Type == "Type").Value == "Admin")
                                IsAdmin = true;
                        }
                        @if (Context != null && Context.User != null && Context.User.Claims.FirstOrDefault(x => x.Type == "drive") != null)
                        {
                            IsLogin = true;
                <li class="nav-item">
                    <a class="nav-link text-dark nav-link dropdown-item" asp-area="" asp-controller="Drives" asp-action="Details" asp-route-id="@Context.User.Claims.FirstOrDefault(x => x.Type == "drive").Value">My Drive</a>
                </li> }
                            else
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark nav-link dropdown-item " asp-area="" asp-controller="Users" asp-action="Login">My Drive</a>
                </li>}



                        @if (IsLogin)
                        {
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Images" asp-action="Create">Image upload</a>
                </li> }
                            else
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Users" asp-action="Login">Image upload</a>
                </li>}
                        @if (IsLogin)
                        {
                <li class="nav-item">
                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Context.User.Claims.FirstOrDefault(x => x.Type == "id").Value">Edit user</a>
                </li>}

                        @if (IsAdmin)
                        {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark dropdown-item" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        List
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Drives" asp-action="Index">Drives</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="Index">Images</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseEvents" asp-action="Index">Purchases</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tags" asp-action="Index">Tags</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DriveTypes" asp-action="Index">Business plans</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workplaces" asp-action="Index">Work places</a>
                        </li>

                    </ul>
                </li>}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark dropdown-item" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Search
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li class="nav-item dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="Search">Image search</a>
                                </li>
                                <li class="nav-item dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Search">User search</a>
                                </li>
                                <li class="nav-item dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tags" asp-action="Search">Tag search</a>
                                </li>
                                <li class="nav-item dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DriveTypes" asp-action="Search">Business plans search</a>
                                </li>
                                <li class="nav-item dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Drives" asp-action="Search">Drive search</a>
                                </li>

                                @if (IsAdmin)
                                {
                    <li class="nav-item dropdown-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseEvents" asp-action="Search">Purchases search</a>
                    </li>
                                    <li class="nav-item dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Workplaces" asp-action="Search">Workplaces search</a>
                                    </li>}

                            </ul>
                        </li>




                        @if (IsAdmin)
                        {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark dropdown-item" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Analytics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="PurchaseEvents" asp-action="Graphs">Graphs</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Workplaces" asp-action="Maps">Maps</a>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Users" asp-action="Facebook">Facebook</a>
                        </li>
                    </ul>
                </li>}


                    </ul>


                    @if (Context != null && Context.User != null && Context.User.Identity.Name != null)
                    {
                <div>
                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Logout">Hello <b>@Context.User.Identity.Name</b>, Logout</a>
                </div> }
                    else
                    {
                    <div>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Already registered? click here to Login!</a>
                    </div>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InternetAppProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>