@model IEnumerable<InternetAppProject.Models.User>

@{
    ViewData["Title"] = "User search";
}
<section>
    <h1>User search</h1>
    <h3>Here you can search for a drive by username.</h3>

    <div>
        Name: <input name="Name" id="inpSearch" />
        <button class="btnSearch btn btn-primary">Search</button>
        <div class="spinner-grow text-success d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.D)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                        <td>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Drives" asp-action="Details" asp-route-id="@item.D.Id.ToString()">@Html.DisplayFor(modelItem => item.Name)'s Drive</a>
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</section>
<script type="text/template" id="template">
    <tr>
        <td>
            ${name}
        </td>
        <td>
            ${zip}
        </td>
        <td>
            <a class="nav-link text-dark" href="\drives\details\${drive}">${name}'s Drive</a>
        </td>
    </tr>
</script>

@section Scripts{
    <script src="~/js/searchUser.js"></script>
}