@model InternetAppProject.Models.Image

@{
    ViewData["Title"] = "Image Details";
}

<h1 class="text-center">Image Details</h1>
<div>
    <hr />
    <div class="row">
        <div class="col-sm-7">
            @if (Model.Data != null)
            {
                string temp = Convert.ToBase64String(Model.Data);
                <img src="data:image/png;base64,@temp" class="img-fluid main-image" alt="Responsive image" />
            }
        </div>
        <dl class="col-sm-5">
            <dt class="col-sm-2">
                Owner
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Drives" asp-action="Details" asp-route-id="@Model.DId.Id" class="link-secondary">
                    @Html.DisplayFor(model => model.DId.UserId.Name)
                </a>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UploadTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UploadTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EditTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EditTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsPublic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsPublic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tags)
            </dt>
            <dd class="col-sm-10">
                @foreach (Tag t in Model.Tags)
                {

                    <span class="badge bg-primary image-tag gx-1">
                        <a class="text-white text-decoration-none" asp-controller="Tags" asp-action="Details" asp-route-id="@t.Id">
                            @t.Name
                        </a>
                    </span>
                }
            </dd>
        </dl>
    </div>
    <br />
    <div class="col-sm-12">
        <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    </div>
    <hr />
    <div class="col-sm-12">
        @Html.DisplayFor(model => model.Description)
    </div>
    <hr />
    <div class="col-sm-2">
        @{
            var userDrive = Context.User.Claims.Where(c => c.Type == "drive").FirstOrDefault();
            var userType = Context.User.Claims.Where(c => c.Type == "Type").FirstOrDefault();
            if (userDrive != null || userType != null)
            {
                bool permissions = false;
                if (Int32.Parse(userDrive.Value) == Model.DId.Id || userType.Value.Equals("Admin"))
                {
                    permissions = true;
                }
                if (permissions)
                {
                <div>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
                }
            }
        }
    </div>
</div>