@model IEnumerable<InternetAppProject.Models.Image>

@{
    ViewData["Title"] = "Search";
}
<section>
    <h1>Image search</h1>
    <aside>
        <h6 class="font-weight-normal">Here you can images. Please notice you cannot view non-public images of other people!</h6>
    </aside>
    <div>
        Description includes: &nbsp;
        <input name="desc" id="desc" /> &nbsp;
        Uploaded after:&nbsp;
        <input name="start" type="date" id="start">&nbsp;
        Uploaded before:&nbsp;
        <input name="end" type="date" id="end">&nbsp;
        <button class="btnSearch btn btn-primary">Search</button>
        <div class="spinner-grow text-success d-none" role="status">
            <span class="visually-hidden">Searching...</span>
        </div>
    </div>
</section>
<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UploadTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Data != null)
                            {
                                string img = Convert.ToBase64String(item.Data);
                                <a asp-action="Details" asp-route-id="@item.Id.ToString()">
                                    <img src="data:image/png;base64,@img" width="50" height="50" />
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @item.UploadTime.ToString("MM/dd/yyyy HH:mm")
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</section>
<script type="text/template" id="template">
    <tr>
        <td>
            <a href="\images\details\${id}">
                <img src="data:image/png;base64,${data}" width="50" height="50" />
            </a>
        </td>
        <td>
            ${description}
        </td>
        <td>
            ${uploadtime}
        </td>
    </tr>
</script>

@section Scripts{
    <script src="~/js/searchImage.js"></script>
}